<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TICKET</title>



</head>

<body>
    <h1>Ticket Classification</h1>
    <form action="/action_page.php">
        <label for="desc">Enter Description</label><br>
        <input type="text" id="desc" name="" value="" ><br>
       
        <input type="submit" value="Submit">
      </form> 
    <div>
        <center>
            <h2>{{ prediction_text }}</h2>
        </center>
    </div>


</body>

</html>